<div class="container">
<i class="fa-solid fa-arrow-left"></i>
<%= link_to "Back to the ride", ride_path(@ride), class: "btn_not_important" %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
    <div id="booking-container">
      <h2>Book your ride</h2>
      <%= simple_form_for [@ride, @booking],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>
      <%= f.input :starting_date, label: "Dates",
                  as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'startDateInput',
                    } } %>
      <%= f.input :end_date, label: false,
                  as: :string,
                  input_html: {
                    class: 'd-none',
                    data: {
                      flatpickr_target: 'endDateInput'
                    }
                  } %>
      <%= f.button :submit, "Let'ride", class: "btn_gradient" %>
      <% end %>

    </div>
    </div>
  </div>
</div>
