<div class="container">
<i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Back to the dashboard", dashboard_path, class: "btn_not_important" %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664298030301-94b00217fbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)">
    <h1 class="show"><%= @ride.name %></h1>
    <br>
  </div>
  <div class="cat">
    <p><strong>Category :</strong>  <%= @ride.category %></p>
  </div>

  <div class="desc">
    <p><strong>Description :</strong><%= @ride.description %></p>
  </div>

  <div class="address">
    <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;
    <p><strong>Address :</strong><%= @ride.address %></p>
  </div>

  <div class="avail">
    <i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;
    <p><strong>Starting date :</strong><%= @booking.starting_date %> - <strong>Ending date :</strong><%= @booking.end_date %></p>
  </div>

  <div class="price">
    <i class="fa-solid fa-coins"></i>&nbsp;&nbsp;
    <p><strong>Total price :</strong><%= @booking.total_price %>€</p>
  </div>

  <li>
    <ul><%= link_to "Accept this booking", accept_path(@booking), class: "btn_not_important", data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } if policy(@booking).accept? %></ul>
    <ul><%= link_to "Refuse this booking", refuse_path(@booking), class: "btn_not_important", data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } if policy(@booking).refuse? %></ul>
  </li>

</div>
