<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag "logo-magic-ride.png", alt:"logo", class:"logo_navbar", id:"logo_navbar" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Rides", rides_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%if current_user %>
              <p class="nav-link"><%=current_user.username %></p>
            <% end %>
          </li>

          <% unless user_signed_in? %>
            <li class="nav-item">
              <p class="nav-link"><%= link_to "Sign in", new_user_session_path, data: { turbo_method: :get}, class: "dropdown-item" %></p>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class:"avatar-navbar", height: 40, width: 40, aria:{haspopup:true, expanded:false}, data: {bs_toggle:"dropdown"}%>
              <% elsif current_user.image_url.present? %>
                <img src="<%= current_user.image_url %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="avatar-navbar" />
              <% else %>
                <img src="https://www.bebegavroche.com/media/catalog/product/cache/1/thumbnail/1200x/040ec09b1e35df139433887a97daa66f/s/t/stickers-repositionnable-mon-petit-poney-arc-en-ciel-exemple.jpg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="avatar-navbar" />
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete}, class: "dropdown-item" %>
            <% else %>
              <img src="https://www.bebegavroche.com/media/catalog/product/cache/1/thumbnail/1200x/040ec09b1e35df139433887a97daa66f/s/t/stickers-repositionnable-mon-petit-poney-arc-en-ciel-exemple.jpg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="avatar-navbar" />
            <% end %>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
  </div>
