<%= simple_form_for(@ride) do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: ['Magical Creatures', 'Spaceships', 'Unusual vehicles'] %>
  <%= f.input :description %>
  <%= f.input :address %>

<div class="form-check form-switch">
  <%= f.input :availability, as: :boolean, class: "form-check-input" %>
  <%# <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label> %>
</div>
  <%= f.input :price_per_day, as: :float %>
  <%= f.submit %>
<% end %>
