<h1>All the rides</h1>
<ol>
  <% @rides.each do |ride| %>
    <li>
      <p><%= ride.name  %> - <%= ride.category  %> - <%= ride.user.username %></p>
      <%= link_to "details", ride_path(ride) %>
    </li>
  <% end %>
</ol>

<%= link_to "Create a ride", new_ride_path %>
