<div class="container">

  <div class="title">
    <h1> Ride and shine! </h1>
    <%= link_to "Add a new ride", new_ride_path, class: "btn_gradient" %>
  </div>

  <div id="cards-container">
    <div class="cards">
      <% @rides.each do |ride| %>
        <div class="card-trip">
          <% if ride.photo.attached? %>
            <%= cl_image_tag ride.photo.key, height: 300, width: 400, class: "photo" %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1503914068268-5413b35b45ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= ride.name  %></h2>
              <p><%= ride.category  %></p>
              <%= link_to "details", ride_path(ride), class: "btn_gradient" %>
            </div>
            <h2 class="card-trip-pricing">€ <%= ride.price_per_day %></h2>
            <% if ride.user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class:"card-trip-user avatar-bordered", height: 40, width: 40 %>
            <% elsif ride.user.image_url.present? %>
              <img src="<%= ride.user.image_url %>" class="card-trip-user avatar-bordered" />
            <% else %>
              <img src="https://www.bebegavroche.com/media/catalog/product/cache/1/thumbnail/1200x/040ec09b1e35df139433887a97daa66f/s/t/stickers-repositionnable-mon-petit-poney-arc-en-ciel-exemple.jpg" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="card-trip-user avatar-bordered" />
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%# Adding a div to display geocoded map instead of previous map img placeholder%>
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <%# <div id="map">
      <img src="https://developers.arcgis.com/documentation/static/display-a-map-b4974c7cfef498eb43e99ab60191cbaf.png" alt="map">
    </div> %>
  </div>
</div>
