<div class="container">
    <i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Back to the rides", rides_path, class: "btn_not_important" %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664298030301-94b00217fbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)">
    <h1 class="show"><%= @ride.name %></h1>
    <br>
  </div>
  <div class="cat">
    <p><strong>Category :</strong>&nbsp;<%= @ride.category %></p>
  </div>

  <div class="desc">
    <p><strong>Description :</strong>&nbsp;<%= @ride.description %></p>
  </div>

  <div class="address">
    <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;
    <p><strong>Address :</strong>&nbsp;<%= @ride.address %></p>
  </div>

  <div class="photo">
    <% if @ride.photo.attached? %>
      <%= cl_image_tag @ride.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1503914068268-5413b35b45ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <% end %>
   

  </div>

  <div class="avail">
    <i class="fa-regular fa-calendar-days"></i>&nbsp;&nbsp;
    <p><strong>Availability :</strong>&nbsp;<%= @ride.availability  %></p>
  </div>

  <div class="price">
    <i class="fa-solid fa-coins"></i>&nbsp;&nbsp;
    <p><strong>Price :</strong>&nbsp;<%= @ride.price_per_day %>€</p>
  </div>


<%unless @ride.user == current_user %>
<div class="d-flex justify-content-center align-items-center">
  <%= link_to "Make a booking", new_ride_booking_path(@ride),class:"btn_gradient btn_imp" %>
</div>
<% end %>

  <li>
<%if @ride.user == current_user %>
    <ul><% if policy(@ride).edit? %>
        <%= link_to "Edit this ride", edit_ride_path(@ride), class: "btn_not_important" %>
      <% end %></ul>
    <ul><%= link_to "Destroy this ride", @ride, method: :delete, class: "btn_not_important", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"} if policy(@ride).destroy? %></ul>
  <% end %>
  </li>
</div>
