<div class="container">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664298030301-94b00217fbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80)">
    <h1><%= @ride.name %></h1>
    <br>
  </div>
  <div class="cat">
    <h3>Category : </h3> <p><%= @ride.category %></p>
  </div>

  <div class="desc">
    <h3>Description : </h3> <p><%= @ride.description %></p>
  </div>

  <div class="address">
    <h3>Address : </h3> <p><%= @ride.address %></p>
  </div>

  <div class="avail">
    <h3>Availability : </h3> <p><%= @ride.availability  %></p>
  </div>

  <div class="price">
  <h3>Price : </h3> <p><%= @ride.price_per_day %>€</p>
  </div>

  <li>
    <ul><% if policy(@ride).edit? %>
        <%= link_to "Edit this ride", edit_ride_path(@ride), class: "btn_gradient" %>
      <% end %></ul>
    <ul><%= link_to "Destroy this ride", @ride, method: :delete, class: "btn_gradient", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"} if policy(@ride).destroy? %></ul>
    <ul><%= link_to "Back to the rides", rides_path, class: "btn_gradient" %></ul>
    <ul>  <%= link_to "Make a booking", new_ride_booking_path(@ride), class: "btn_gradient" %></ul>
  </li>

</div>
